---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import FormattedDate from "../../components/FormattedDate.astro";

import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("desafios")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout
  title="Desafíos de Gestión Gerencial"
  description="Desafíos desarrollados por LPM Gestión | Gestión Gerencial">
  <main>
    <section>
      <div class="index-wrapper">
        <h1 id="desafios">Desafíos</h1>
        <div class="desafios-grid">
          {
            posts.map((post) => (
              <a href={`/desafios/${post.id}/`} class="desafio-card">
                <article>
                  <div class="card-image-wrapper">
                    {post.data.heroImage && (
                      <Image
                        src={post.data.heroImage}
                        alt={post.data.title}
                        width={720}
                        height={400}
                        loading="lazy"
                        transition:name={`image-${post.data.title}`}
                      />
                    )}
                  </div>
                  <div class="card-content">
                    <p class="card-date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                    <h3>{post.data.title}</h3>
                    <span class="view-more">Leer desafío →</span>
                  </div>
                </article>
              </a>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
