---
import Layout from "./Layout.astro"; // Importas el layout padre
import FormattedDate from "../components/FormattedDate.astro";

import { Image } from "astro:assets";
import imgLautaroA from "../assets/equipo/lauti-a.webp";
import imgLautaroF from "../assets/equipo/lauti-f.webp";
import imgFelipe from "../assets/equipo/felipe.webp";
import imgYamil from "../assets/equipo/yamil.webp";
import imgTobias from "../assets/equipo/tobias.webp";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
  heroImage?: any;
  backHref?: string;
  backLabel?: string;
}

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  backHref,
  backLabel = "Actividades",
} = Astro.props;
---

<Layout title={title} description={description}>
  <main>
    <article>
      <div class="prose">
        <div class="title">
          {
            backHref && (
              <>
                <a
                  href={backHref}
                  class="back-btn"
                  aria-label={`Volver a ${backLabel}`}>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M19 12H5M12 5l-7 7 7 7" />
                  </svg>
                  <span>{backLabel}</span>
                </a>
              </>
            )
          }
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <div class="autores">
            <a href="/equipo/lautaro-acosta">
              <Image
                src={imgLautaroA}
                alt="Lautaro Acosta Quintana"
                width={45}
                height={45}
              /></a
            >
            <a href="/equipo/lautaro-faccini">
              <Image
                src={imgLautaroF}
                alt="Lautaro Faccini"
                width={45}
                height={45}
              /></a
            >
            <a href="/equipo/felipe-fidanza">
              <Image
                src={imgFelipe}
                alt="Felipe Fidanza"
                width={45}
                height={45}
              /></a
            >
            <a href="/equipo/tobias-stegmayer">
              <Image
                src={imgTobias}
                alt="Tobías Stegmayer"
                width={45}
                height={45}
              /></a
            >
            <a href="/equipo/yamil-moselli">
              <Image
                src={imgYamil}
                alt="Yamil Moselli"
                width={45}
                height={45}
              /></a
            >
          </div>

          <hr />
        </div>
      </div>

      <div class="hero-image">
        {
          heroImage && (
            <Image
              width={1020}
              height={510}
              src={heroImage}
              alt={title}
              loading="eager"
              transition:name={`image-${title}`}
            />
          )
        }
      </div>
      <div class="prose">
        <slot />
      </div>
    </article>
  </main>
</Layout>

<style>
  .back-btn {
    display: flex;
    width: fit-content;
    margin-bottom: 2rem;
    align-items: center;
    gap: 0.4rem;
    padding-block: 0.5rem;
    color: rgb(var(--gray-dark)) !important;
    font-size: 0.9rem;

    transition: all 0.2s ease;
  }

  .back-btn:hover {
    color: rgb(var(--black)) !important;
    text-decoration: underline;
  }

  @media (max-width: 1200px) {
    .back-btn {
      left: 1.5rem;
      transform: none;
    }
    .back-btn:hover {
      transform: translateX(-3px);
    }
  }

  @media (max-width: 900px) {
    .side-zone {
      display: none;
    }
  }

  main {
    margin-top: 88px;
    padding-top: 4rem;
  }
  .hero-image {
    width: 100%;
    margin-bottom: 4rem;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 0 1em 1em 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
  .autores img {
    transition: all 0.2s ease;
  }
  .autores img:hover {
    transform: scale(1.1);
    z-index: 2;
  }

  .autores:hover img {
    transform: scale(0.9);
    opacity: 0.7;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .autores:hover img:hover {
    transform: scale(1.1);
    opacity: 1;
  }
</style>
