---
import Layout from "./Layout.astro"; // Importas el layout padre
import FormattedDate from "../components/FormattedDate.astro";

import { Image } from "astro:assets";
import imgLautaroA from "../assets/equipo/lauti-a.webp";
import imgLautaroF from "../assets/equipo/lauti-f.webp";
import imgFelipe from "../assets/equipo/felipe.webp";
import imgYamil from "../assets/equipo/yamil.webp";
import imgTobias from "../assets/equipo/tobias.webp";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
  <main>
    <article>
      <div class="hero-image">
        {
          heroImage && (
            <Image
              width={1020}
              height={510}
              src={heroImage}
              alt={title}
              loading="eager"
              transition:name={`image-${title}`}
            />
          )
        }
      </div>
      <div class="prose">
        <div class="title">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <div class="autores">
            <a href="/equipo/lautaro-acosta">
              <Image
                src={imgLautaroA}
                alt="Lautaro Acosta Quintana"
                width={45}
                height={45}
              /></a
            >
            <a href="/equipo/lautaro-faccini">
              <Image
                src={imgLautaroF}
                alt="Lautaro Faccini"
                width={45}
                height={45}
              /></a
            >
            <a href="/equipo/felipe-fidanza">
              <Image
                src={imgFelipe}
                alt="Felipe Fidanza"
                width={45}
                height={45}
              /></a
            >
            <a href="/equipo/tobias-stegmayer">
              <Image
                src={imgTobias}
                alt="Tobías Stegmayer"
                width={45}
                height={45}
              /></a
            >
            <a href="/equipo/yamil-moselli">
              <Image
                src={imgYamil}
                alt="Yamil Moselli"
                width={45}
                height={45}
              /></a
            >
          </div>

          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
</Layout>

<style>
  main {
    margin-top: 88px;
    padding-top: 4rem;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
  .autores img {
    transition: all 0.2s ease;
  }
  .autores img:hover {
    transform: scale(1.1);
    z-index: 2;
  }

  .autores:hover img {
    transform: scale(0.9);
    opacity: 0.7;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .autores:hover img:hover {
    transform: scale(1.1);
    opacity: 1;
  }
</style>
